.page-container {
    background-color: #3d3741;
}

.light-mode-btn {
    background-color: white;
    padding: 4px 10px;
    color: #3d3741;
}

.light-mode-btn:hover {
    background-color: #9f9f9f;
    color: white;
}