.page-container {
  background-color: white;
}

.dark-mode-btn {
  background-color: #94aede;
  padding: 4px 10px;
  color: #3d3741;
}

.dark-mode-btn:hover {
  background-color: #211529;
  color: white;
}

.searchBtn {
  background-color: #3d3741;
  color: white;
  height: 2.1875rem;
  padding: 0.5rem 1.0625rem 0.5rem 1.125rem;
  border-radius: 3.125rem;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.7px;
}

.searchBtn:hover {
  scale: 1.1;
}

.footer {
  background-color: #dedede;
}

.nav-menu-list a {
  color: #3d3741;
  text-decoration: none;
}

/* .nav-menu-list li:hover a {
  color: #211529;
  background: rgba(0, 0, 0, 8%);
} */

.nav-menu-li.active a {
  background: rgba(0, 0, 0, 8%);
}

.nav-menu-li:hover a {
  background: rgba(0, 0, 0, 8%);
}

@media only screen and (max-width: 640px) {
  .nav-menu-list {
    background-color: #94aede;
  }
}

.input-name,
.input-mail,
.message-text {
  border: 1px solid #9f9f9f;
}


.polutionCard {
  border: solid 1px rgb(204, 204, 204);
}